{
  "extends": "@deseteral/eslint-config/typescript",
  "plugins": [
    "eslint-plugin-pastelight"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "pastelight/import-only-module-index": "error"
  }
}
