@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;

  --color-active: #FFB300;
  --color-text: #FFFFFF;
  --color-navigationBar: #263238;
}
