@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  --color-background: #FFFFFF;
  --color-text: #000000;
  --color-text-primary: #FFFFFF;
  --color-primary: #2196F3;
  --color-primary-light: #64B5F6;
  --color-primary-dark: #1E88E5;

  /* TODO: Primary color for 'DSLR dark' theme: #FFB300 (Amber 600) */

  margin: 0;
  color: var(--color-text);
  font-family: 'Varela Round', sans-serif;
  user-select: none;
}
